@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600;1,700&family=Roboto:wght@400;700&family=Train+One&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    overflow-x: hidden;
}

.new_container {
    width: 55%;
    margin: 0 auto;
}


/*Navigation*/

nav.nav-extended .nav-wrapper{
    min-height: 75px;
}
.logo_img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.brand-logo {
    margin-left: 20px;
}

.sidenav {
    width: 50%;
}

.sidenav-trigger i {
    color: #212121;
}

.sidenav-trigger i:hover {
    color: #ffd977;
    transition: all 0.3s;
}

nav ul a {
    color: #212121;
    text-transform: uppercase;
    font-family: 'Train One', sans-serif;
    font-size: 1.2rem;
}
nav ul a:hover{
    background-color: #ffd977;
}

.sidenav li>a {
    text-align: center;
    color: #212121;
    text-transform: uppercase;
    font-family: 'Train One', sans-serif;
    font-size: 2rem;
    padding-top: 20px;
    line-height: 6px;
}

.sidenav .logo_img {
    margin: 0 auto;
    display: block;
}

.sidenav li>a:hover{
    background-color: #ffd977;
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    line-height: 75px;
}

/*Slider*/

.slider img {
    object-fit: cover;
    filter: brightness(.4);
}

.slider-img {
    width: 100%;
    height: auto;  
}

.slider .indicators .indicator-item.active {
    background-color: #ffd977;
}

.btn {
   background-color: #fafafa; 
   color: #212121;
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   font-size: 16px;
}

.btn:hover {
   background-color: #ffd977
}

/*Footer*/

.page-footer {
    background-color: #fafafa;
    color: #212121;
}
.footer_sm_head {
    color: #212121;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}

footer ul {
    display: flex;
    margin-left: 20px;
    justify-content: center;
}

.social_icon i {
    font-size: 2.3rem;
    padding-right: 2rem;
    color: #212121;
}

.social_icon i:hover {
    color: #ffd977;
    transition: all 0.2s ease-in-out;
}

.footer_text {
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footer-copyright {
    text-align: center;
}

.page-footer .footer-copyright {
    background-color: #ffd977;
}

/*Flash message*/

.flashes {
    background-color: #ffd977;
    color: #212121;
}

.flash_text {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: inline-block;
    font-size: 2.2rem;
}

.close {
    float: right;
    font-size: 30px;
    font-weight: bold;
    color: #212121;
    margin-right: 10px;
    
}

.close:hover {
    color: red;
}

/*Categories*/

.section_heading {
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline #ffd977 ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.card .card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
}

.card .card-reveal {
    top: 99%;
}

.btn_container {
    height: 75px;
    display: flex;
    justify-content: center;
}

.btn_container>.btn {
    font-size: 24px;
}

/*Top desserts*/

#categories .card-image img {
  max-width: 100%;
  height: auto
 
}

.card-image img {
  width: auto;
  height: 300px;
  object-fit: cover;

 
}
.card .card-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

#popular .card .card-content p {
    margin-top: 10px;
    margin-bottom: 15px; 
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

/*All recipes*/

#all_recipes .btn {
    margin-top: 20px;
}

.buttons {
    display:flex;
    justify-content: flex-end;
    margin-top: 1rem;
    
}

.buttons a:first-of-type {
    margin-right: auto;
}

.buttons .btn_ed{
margin-right:10px;
margin-left:10px;
color: #ffd977;
}

.buttons .btn_ed:hover {
    color: #fafafa
}

.buttons .btn_del{
    color: red;
}

.activator {
    cursor: pointer;
}

/* Registration page */

.reg_text_block {
    text-align: center;
}

.reg_text {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    
}

.reg_text_block:last-child{
  margin-bottom: 4rem;  
}


.input-field .prefix.active {
    color: #ffd977;
}

.submit_button{
    display: flex;
    justify-content: center;
}

/* Profile */

.profile_heading {
    text-align: center;
    text-decoration: underline #ffd977 ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.profile_subheading {
    text-align: center;;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline #ffd977 ;
}

.profile_text {
    text-align: center;;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #212121;
}

.profile_btn {
    display: flex;
    justify-content: center;
    margin: 2rem;  
}

.profile_btn .btn {
    padding: 30px 50px;
    line-height: 8px;
    font-size: 25px;
}

.profile_text a {
    color: #212121;
    text-transform: uppercase;

}

.profile_text a:hover {
    text-decoration: underline #ffd977;
}

/* Recipe page */

.recipe_block_descr {
    margin-bottom: 25px;
} 

.recipe_block_header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline #ffd977 ;
}
.recipe_block_text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #212121;
}

.recipe_author {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #212121;
}

/* Add recipe */

.dropdown-content li>a, .dropdown-content li>span {
    color: #212121
}

/* Search */

input[type=text]:not(.browser-default){
    height: 2.5rem;
    border-bottom:solid 2px #212121;
}

#recipes .section_heading {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.search_wrapper {
    width: 70%;
}

/* Page 404 */

.container .page_404 {
    font-size: 160px;
    text-align: center;
    font-weight: 700;
    font-family: 'Train One', sans-serif;
    letter-spacing: 20px;
}

.button_404 {
    display: flex;
    justify-content: center;
}

.button_404 .btn {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

.text_404 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* Media queries */

/* for devices with screen less than 600px */
@media screen and (max-width:600px) {
    .sidenav li>a {
        font-size: 1.2rem;
    }
    .section_heading {
        font-size: 2.5rem;
    }

    .search_wrapper {
        width: 100%;
    }

    #recipes .row {
        margin-bottom: 10px;
    }

    .profile_btn .btn {
        padding: 15px 25px;
        line-height: 8px;
        font-size: 15px;
    }

    .profile_btn{
        margin: 1rem;
    }

    .profile_text{
        font-size: 15px;
    }

    .btn{
        font-size: 15px;
    }
    .flash_text {
        font-size: 1.5rem;
    }

    .close {
        margin-top: 15px;
    }

    .footer_sm_head{
        font-size: 1.4rem;
    }
}

/* for devices with screen less than 370px */
@media screen and (max-width:370px) {
    .sidenav li>a {
        font-size: 1rem;
    }

    .buttons .btn_del,
    .buttons .btn_ed,
    .buttons .btn_view {
        font-size: 10px;
    }
}