<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/jpg" href=" {{ url_for('static', filename='img/restaurant.png') }}"/>
        <title>COOK BOOK</title>

        <!-- Compiled and minified CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
        <link
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <!--CSS-->
        <link href=" {{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> {% block styles %}{% endblock %}

        </head>
        <body>
            <header>
                <!-- Navigation -->

                <div class="navbar-fixed">
                <nav class="nav-extended grey lighten-5">
                    <div class="nav-wrapper">
                        <a href="{{ url_for('home') }}" class="brand-logo"><img class="logo_img" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"></a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
                            <i class="fas fa-hamburger fa-3x"></i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a href="{{ url_for('home') }}">Home</a>
                            </li>
                            <li>
                                <a href="{{ url_for('recipes') }}">Recipes</a>
                            </li>
                            <li>
                        {% if session.user %}
                                <a href="{{ url_for('new_recipe') }}">Add Recipe</a>
                            </li>
                            <li>
                                <a href="{{ url_for('profile', username=session['user']) }}">My Profile</a>
                            </li>
                            <li>
                                <a href="{{ url_for('logout') }}">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ url_for('register') }}">Register</a>
                            </li>
                             <li>
                                <a href="{{ url_for('login') }}">Login</a>
                            </li>
                        {% endif %}   
                        </ul>
                    </div>
                </nav>
                </div>

                <!--Mobile navigation-->
                
                    <ul class="sidenav" id="mobile-demo">
                        <li>
                            <a href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li>
                            <a href="{{ url_for('recipes') }}">Recipes</a>
                        </li>
                    {% if session.user %}
                        <li>
                            <a href="{{ url_for('new_recipe') }}">Add Recipe</a>
                        </li>
                        <li>
                            <a href="{{ url_for('profile', username=session['user']) }}">My profile</a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('register') }}">Register</a>
                        </li>
                        <li>
                            <a href="{{ url_for('login') }}">Login</a>
                        </li>
                    {% endif %}
                                
                </ul>
            </header>

            <section>
                <!--flash messsages-->

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %} 
                            <div class="row flashes center">
                                <a class="close" href=""><i class="fas fa-times" οnclick="close_flash_message()"> </i></a>
                                <h3 class="flash_text">{{ message }} </h3>
                            </div>                     
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </section>

            <!--Content block-->

            <main> 
                {% block content %}
                
                {% endblock %}
            </main>

            <!--Footer-->

            <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="footer_sm_head">About Easy Peasy</h5>
                            <p class="footer_text">This website was created for people, who passionate about cooking and eating. Don't be shy and share your favourite recipes!  </p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                            <h5 class="footer_sm_head">Social media</h5>
                            <ul>
                                <li><a class="social_icon" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a class="social_icon" href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a class="social_icon" href="https://www.pinterest.com!" target="_blank"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <div class="container">
                            <p class="footer_text">Copyright &copy; Easy Peasy Recipes <span class="copyright"></span> </p>
                        </div>
                    </div>
            </footer>

    <!--JQUERY and Materialized-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Custom script-->
    <script src=" {{ url_for('static', filename='js/script.js') }}" rel="stylesheet"></script>
    
    {% block scripts %}
    
    {% endblock %}
</body>

</html>
