{% extends 'base.html' %} 
{% block content %}

    <div class="container">
        <h3 class="profile_heading">Hi,{{ username|capitalize }}</h3>
        <p class="profile_text">
            Upload your recipes by clicking the button below or go to our
            <a class="profile_link" href="{{ url_for('recipes')}}">Recipes</a> section
            and check all what we got!
        </p>
    </div>

    <div class="profile_btn">
        <a class="btn" href="{{ url_for('new_recipe') }}"
            >Add recipe
            <i class="fas fa-plus-circle"></i>
        </a>
    </div>

    {% if user_recipes|count > 0 %}
        <h4 class="profile_subheading">My recipes</h4>
        <div class="row">
            {% for recipe in user_recipes %}
                <div class="col s12 m6 xl4">
                    <div class="card">
                        <div class="card-image waves-block waves-light">
                            <img
                            class="activator"
                            src="{{ recipe.image_url }}"
                            onError="this.src='{{ url_for('static', filename='img/no-img.jpg') }}'" alt="recipe_img"//>
                        </div>
                        <div class="card-content">
                            <span class="card-title truncate grey-text text-darken-4">
                            {{ recipe.recipe_title }}
                            </span>
                            <p><i class="far fa-clock"></i> {{recipe.cook_time}} minutes.</p>

                            <div class="buttons">
                                <a
                                class="btn btn_view"
                                href="{{url_for('recipe_page', recipe_id=recipe._id)}}">
                                View recipe
                                </a>
                                
                                {% if session.user == recipe.author %}
                                <!-- Edit button -->

                                    <a
                                        class="btn btn_ed"
                                        href="{{ url_for('edit_recipe', recipe_id =recipe._id) }}"
                                        id="edit_recipe">
                                        Edit
                                    </a>

                                    <!-- Delete button -->

                                    <a class="btn btn_del modal-trigger" href="#modal1">Delete </a>

                                    <!--Delete Modal-->

                                    <div id="modal1" class="modal">
                                        <div class="modal-content">
                                            <h4>Delete recipe</h4>
                                            <p>Are you sure that you want to delete recipe?</p>
                                        </div>

                                        <div class="modal-footer">
                                            <a
                                                href="{{ url_for('delete_recipe', recipe_id =recipe._id) }}"
                                                id="delete_recipe"
                                                class="modal-close btn">
                                                Yes
                                            </a>

                                            <a 
                                                href="#!" 
                                                class="modal-close btn">
                                                No
                                            </a>
                                
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h4 class="profile_subheading">You haven't uploaded recipes yet.</h4>
    {% endif %} 

{% endblock %}
