{% extends 'base.html' %} 
{% block content %}

    <div class="container">
        <h2 class="section_heading">Registration</h2>
        <div class="row">
            <form
            class="col s12 m8 offset-m2"
            method="POST"
            action="{{ url_for('register') }}">
            <div class="card-panel">
                
                <!-- username -->

                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix"></i>
                        <input
                        id="username"
                        name="username"
                        type="text"
                        minlength="5"
                        maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$"
                        class="validate"
                        required/>
                        <label for="username">Username</label>
                    </div>
                </div>

                <!-- passowrd -->

                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix"></i>
                        <input
                        id="password"
                        name="password"
                        type="password"
                        minlength="5"
                        maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$"
                        class="validate"
                        required/>
                        <label for="password">Password</label>
                    </div>
                </div>

                <!-- button -->

                <div class="submit_button">
                    <button type="submit" class="btn">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
            </form>
        </div>
        <div class="reg_text_block">
            <p class="reg_text">Registered already?</p>
            <p class="reg_text">
            <a href="{{ url_for('login') }}">Login</a> to your account.
            </p>
        </div>
    </div>

{% endblock %}
